<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Install-time permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- API 버전 28 이하 -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!-- API 버전 28 (OS 9) 이상 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />


    <!-- Runtime Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- API 버전 29 (OS 10) 이상 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- API 버전 29 (OS 10) 이상 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- API 버전 32 (OS 12)  이상 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- API 버전 33 (OS 13)  이상 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- API 버전 34 (OS 14)  이상 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>





    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_milelog_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Charanchadriveaos"
        android:screenOrientation="portrait"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvhAX3KfrDG8Xi9U_OhmHhpwXWGL5af7M"/>

<!--        <meta-data-->
<!--            android:name="google_analytics_automatic_screen_reporting_enabled"-->
<!--            android:value="true" />-->

<!--        <meta-data-->
<!--            android:name="google_analytics_adid_collection_enabled"-->
<!--            android:value="false" />-->

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Charanchadrivesplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="milelog" android:host="splash"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NotificationActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.BestDrivingActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.ConstantSpeedDrivingActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.AverageDrivenDistanceActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.MyGarageActivity"
            android:theme="@style/Theme.Charanchadrivewhite100"
            android:screenOrientation="portrait"
            android:exported="true"/>


        <activity
            android:name=".activity.HighSpeedDrivingActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.AlarmDetailActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.DrivenTimeActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.DrivenDistanceActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.WithdrawalActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.CheckDesignActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.DetailManageScoreActivity"
            android:theme="@style/Theme.DetailManageScore"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity

            android:name=".activity.ManageEngineActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.MyInfoActivity"
            android:theme="@style/Theme.MyInfoTheme"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.MyPageActivity"
            android:theme="@style/Theme.Charanchadrivewhite100"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.LoadCarInfoActivity"
            android:theme="@style/Theme.Charanchadrivewhite100"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.EditCarInfoActivity"
            android:theme="@style/Theme.Charanchadrivewhite100"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.RegisterCarActivity"
            android:theme="@style/Theme.Charanchadrivewhite100"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.TermsDetailActivity"
            android:theme="@style/Theme.Charanchadrivewhite100"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.PermissionInfoActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.OnBoardingActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.Charanchadrivewhite100"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="milelog" android:host="login"
                    tools:ignore="AppLinkUrlError"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.TermsOfUseActivity"
            android:theme="@style/Theme.Charanchadrivewhite100"
            android:screenOrientation="portrait"
            android:exported="true"/>


        <activity
            android:name=".activity.PermissionActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.AlarmActivity"
            android:theme="@style/Theme.Charanchadrivegray50"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="milelog" android:host="alarm"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTop"/>



        <activity
            android:name=".activity.MyDriveHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="milelog" android:host="history"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DetailDriveHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.InputNameActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.CommonWebviewActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.FindBluetoothActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>


        <activity
            android:name=".activity.DetectedStatusActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.LoadCarMoreInfoActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activity.CarDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <service
            android:name=".service.BluetoothService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|dataSync|health|connectedDevice" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".NotificationDeleteReceiver" />


    </application>

</manifest>