<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Install-time permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- API 버전 28 이하 -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />





    <!-- Runtime Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- API 버전 28 이상 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- API 버전 29 이상 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- API 버전 32  이상 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- API 버전 33  이상 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- API 버전 34 이상-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />


    <!-- Special Permissions -->
    <!-- API 버전 29 이상 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />



    <!-- TEST Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Charanchadriveaos"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvhAX3KfrDG8Xi9U_OhmHhpwXWGL5af7M"/>

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BetaInfoActivity"
            android:exported="true"/>


        <activity
            android:name=".activity.PermissionActivity"
            android:exported="true"/>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"/>

        <activity
            android:name=".activity.MyDriveHistoryAvtivity"
            android:exported="true"/>

        <activity
            android:name=".activity.DetailDriveHistoryAvtivity"
            android:exported="true"/>

        <service
            android:name=".service.SensorService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"></service>

        <service
            android:name=".service.BluetoothService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"></service>

    </application>

</manifest>